# Telegram
TG_BOT_TOKEN=
TG_CLIENT_API_ID=
TG_CLIENT_API_HASH=
# Split admin ids with "," separator
TG_ADMIN_IDS=
TG_TEST_ID=

# Google Calendar API
GCAL_ID=
GCAL_CREDS_PATH=
GCAL_TOKEN_FILE=token.json
GCAL_CREDS_FILE=credentials.json
# Split scopes with "," separator
# If modifying these scopes, delete the file token.json
GCAL_SCOPES=https://www.googleapis.com/auth/calendar.readonly